* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	width: 100vw;
}

.body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom right, #5484ffd5, #ff221ee7);
	color: #000000;
}

.heading {
	background-color: #1b171798;
	box-shadow: 0px 1px 5px #000000;
	width: 100%;
	margin-bottom: 1.5rem;
	border-radius: 30px 30px 0 0;
	padding: 1rem 1.5rem;
	font-size: 2rem;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.heading__btn {
	background-color: #00000085;
	color: #ffffff;
	border: none;
	padding: 0.5rem 0.8rem;
	outline: none;
	border-radius: 18px;
	margin-left: auto;
	font-size: 16px;
	cursor: pointer;
}

.card {
	width: 70%;
	max-width: 600px;
	height: 82vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0000004f;
	color: #ffffff;
	user-select: none;
	border-radius: 30px;
}

.input-box {
	margin-bottom: 0.8rem;
}

.input-box input {
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
	border-radius: 22px;
	background-color: #00000050;
	color: #ffffff;
	margin-right: 0.2rem;
	font-size: 18px;
}

.input-box button {
	background-color: #00000091;
	color: #ffffff;
	border: none;
	padding: 0.5rem 1rem;
	outline: none;
	border-radius: 18px;
	font-size: 18px;
	cursor: pointer;
}

.task-list {
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	margin-bottom: 1.5rem;
}

.task-item {
	font-size: 20px;
	list-style: none;
	width: 100%;
	margin-bottom: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

li {
	border-radius: 22px;
	background-color: #0000004f;
	padding: 0.5rem 1rem;
	flex: 1;
}

.task {
	padding: 0.5rem 0.8rem;
	margin-right: 0;
	background-color: #00000091;
	color: #ffffff;
	outline: none;
	border-radius: 22px;
	margin: 2px;
	cursor: pointer;
}

.icon {
	pointer-events: none;
}

.check {
	padding: 0.5rem 0.6rem !important;
}

.checked {
	text-decoration-line: line-through;
	opacity: 0.5;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f100;
	border-radius: 20px;
	height: 320px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: #252525;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2e2e2e;
}

@media (max-width: 600px) {
	.card {
		width: 85%;
	}

	.task-item {
		font-size: 14px;
		list-style: none;
		width: 100%;
		margin-bottom: 1rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.task-list {
		padding: 1rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		margin-bottom: 1.5rem;
	}

	.input-box {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.input-box input {
		font-size: 14px;
		padding: 0.5rem 1rem;
		width: 70%;
	}

	.input-box button {
		font-size: 14px;
	}

	.icon {
		pointer-events: none;
	}
}
